{
  "plugins": [
    [
      "module-resolver",
     {
       "root": ["./src"],
       "alias": {
         "components": "./src/components",
         "store": "./src/store",
         "utils": "./src/utils",
         "services": "./src/services"
       }
     }
    ]
   ]
}